* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

.perfil {
    margin-left: -40px;
    border-radius: 70%;
    border: 3px solid black;
}
body {
    color: black;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}

nav {
    background-color: rgb(0, 0, 0);
    text-shadow:
        -1px -1px 0 black,  
        1px -1px 0 black,   
        -1px 1px 0 black,   
        1px 1px 0 black;
}

a {
    color: rgb(251, 255, 0);
    text-decoration: none;
}

img {
    width: 220px;
    height: 220px;
    border-radius: 30%;
    border: 3px solid black;
    margin-right: 30px;
    margin-left: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
}


h1 {
    color: rgb(0, 0, 0);
    font-size: 100px;
    text-align: justify;
    text-shadow:
        -1px -1px 0 black,  
        1px -1px 0 black,   
        -1px 1px 0 black,   
        1px 1px 0 black;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(255, 203, 203);
    background-size: cover;
    
}

nav a:hover {
    color: rgb(206, 209, 45);
}

p {
    text-align: justify;
    padding: 0px 50px;
    margin-bottom: 20px;
    margin-top: 100px;
 
}

h3 {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: -30px;
    padding: 0px 20px;
    background-color: white;
    text-shadow:
        -1px -1px 0 black,  
        1px -1px 0 black,   
        -1px 1px 0 black,   
        1px 1px 0 black;
}